/* Base */
/* ----------------------------------------------------------*/

@import url(https://fonts.googleapis.com/css?family=Montserrat:700,Roboto:500);

* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 1.6em;
  font-weight: 400;
  background-color: #fff;
  background-position: center center;
  background-repeat: no-repeat;
}

a         { color: #0c9fd8; text-decoration: none; }
a:hover   { text-decoration: underline; }
a:visited { color: #0c9fd8; }

b, strong {
    font-weight: 700;
}

.error {
    color: red;
}

.success {
    color: green;
}

/* Utility */

.wrap:before,
.wrap:after { content:""; display:table; }
.wrap:after { clear: both; }
.wrap {
  max-width: 750px;
  padding: 0 30px;
  margin: 0 auto;
  text-align: left;
}

.post-header .wrap, .footer .wrap, #get .wrap, #news .wrap  {
  text-align: center;
}

/* Layout Styles */
/* ----------------------------------------------------------*/

/* Site header */

.site-header {
  overflow: hidden;
  padding-top: 5em;
  margin: auto;
  position: relative;
}

.site-title,
.site-title:hover,
.site-title:visited {
  font-size: 5em;
  font-weight: bold;
  word-wrap: break-word;
  font-family: "Montserrat", sans-serif;
  position: absolute;
  bottom: 2.5em;
  margin-left: 1em;
}

.site-title, .site-title a {
    color: #fff;
}

.site-subtitle {
    color: #111;
    font-size: 1.2em;
    font-weight: normal;
    line-height: 1.5em;
    margin-left: 0.5em;
    position: relative;
    text-align: center;
}

.site-nav {
    z-index: 10;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    padding: 0.5em 0.75em;
    font-weight: bold;
    background: #fff;
    border-bottom: 1px dashed #0c9fd8;
}

.site-nav .menu-icon { display: none; }

.site-nav .page-link {
    color: #111;
    padding: 0 10px;
}

.site-nav .page-link.current {
    color: #0c9fd8;
}

/* sections */

.section {
    padding: 1.5em 0 2em;
    border-bottom: 1px dashed #0c9fd8;
}

.section .section-title {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-size: 3em;
    line-height: 1.35em;
    margin-bottom: 0.5em;
}

.section p, .section ul, .section ol {
    margin-bottom: 1em;
}

.section ul, .section ol {
    margin-left: 1em;
}

.section img {
    max-width: 100%;
    height: auto;
    margin-bottom: 1em;
}

/*
.section:nth-child(odd) {
     background-color: #000;
}

.section:nth-child(odd),
.section:nth-child(odd) .section-title {
     color: #fff;
}
*/

.footer {
    padding: 1em 0;
    font-size: 0.9em;
}

.footer .section-title {
    margin-bottom: .3em;
    color: #fff;
}

/* forms */

form {
    text-align: center;
}

.form {
    padding: 0.4em;
    background: #fff;
    padding: 0.2em 0.4em;
    border: 1px solid #ddd;
}

select.form {
    margin-bottom: 1em;
}

.button.form {
    padding: 0.5em 1em;
    font-weight: bold;
    cursor: pointer;
    background-color: #2a7ae2;
    color: #fff;
}

.button.form:hover {
    background-color: #0b1728;
}

.submit {
    cursor: pointer;
}

/* Post styles */
/* ----------------------------------------------------------*/

.post-header { margin: 10px 0 30px; }

.post-header h1 {
  font-size: 42px;
  letter-spacing: -1.75px;
  line-height: 1;
  font-weight: 300;
}

.post-header .meta {
  font-size: 15px;
  color: #818181;
  margin-top: 5px;
}

.post-content { margin: 0 0 30px; }

.post-content > * { margin: 20px 0; }


.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
  line-height: 1;
  font-weight: 300;
  margin: 40px 0 20px;
}

.post-content h2 {
  font-size: 32px;
  letter-spacing: -1.25px;
}

.post-content h3 {
  font-size: 26px;
  letter-spacing: -1px;
}

.post-content h4 {
  font-size: 20px;
  letter-spacing: -1px;
  font-weight: 400;
}

.post-content blockquote {
  border-left: 4px solid #e8e8e8;
  padding-left: 20px;
  font-size: 18px;
  opacity: .6;
  letter-spacing: -1px;
  font-style: italic;
  margin: 30px 0;
}

.post-content ul,
.post-content ol {
    padding-left: 20px;
}

/* media queries */
/* ----------------------------------------------------------*/

@media screen and (max-width: 600px) {

  .wrap { padding: 0 12px; }

  .site-nav {
    position: fixed;
    right: 8px;
  }

  .site-nav .menu-icon {
    display: block;
    font-size: 24px;
    color: #ffffff;
    float: right;
    width: 36px;
    text-align: center;
    line-height: 36px;
    padding-right: 1em;
  }

  .site-nav .menu-icon svg { width: 18px; height: 16px; }

  .site-nav .trigger {
    clear: both;
    margin-bottom: 5px;
    display: none;
    text-align: center;
  }

  .site-nav:hover .trigger {
    display: block;
  }


  .site-nav .page-link {
    display: block;
    line-height: 1.25;
    padding: 5px;
    margin: 0;
    cursor: pointer;
    color: #0c9fd8;
  }

  .post-header h1 { font-size: 36px; }
  .post-content h2 { font-size: 28px; }
  .post-content h3 { font-size: 22px; }
  .post-content h4 { font-size: 18px; }
  .post-content blockquote { padding-left: 10px; }
  .post-content ul,
  .post-content ol { padding-left: 10px; }

}
